.TodoWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ulTodo {
  padding:0;
  margin:0;
  display:flex;
  justify-content: space-between;
  width: 180px;
  list-style-type: none;
}
.cancelTodoItem {
  cursor:pointer;
  /* margin-left: 100px; */
}
.btnTodoSubmit {
  margin-top: 10px;
}
.checkboxTodoStyle {
  width: 20px;
  height: 20px;
}
.TodoList{
  display: flex;
}
.StrikeTodoItem {
  text-decoration: line-through;
}